<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>sharpen your axe!</title>
</head>

<body text="#E3C770" bgcolor="#0F3460">
  <h1>sharpen your axe!</h1>

  <p>the story goes something like this…</p>
  <br>
  <p>once upon a time, a very strong woodcutter asked for a job in a timber merchant.</p>
  <p>the pay was really good and so were the working conditions.</p>
  <p>for those reasons, the woodcutter was determined to do his best.</p>
  <p>his boss gave him an axe and showed him the area where he would work</p>
  <p>and introduced him to another wood cutter named jack.</p>
  <br>
  <p>the first day, the woodcutter felled 18 trees. working full day without rest. </p>
  <p>Where as jack spent time with family and taking rest and then working.</p>
  <br>
  <p>“congratulations,” the boss said to wood cutter. “go on that way!”</p>
  <br>
  <p>motivated by the boss words, the woodcutter tried harder the next day,</p>
  <p>but he could only bring down 15 trees.</p>
  <p>the third day he tried even harder, but he could only manage 10 trees. </p>
  <p>day after day, he finished with fewer trees.</p>
  <p>but total number of trees cut by jack were more than woodcutter.</p>
  <br>
  <p>“i must be losing my strength,” the woodcutter thought. </p>
  <p>he went to the boss and apologized, saying that he could not understand what was going on.</p>
  <br>
  <p>listening to woodcutter talking with boss, jack asked "when was the last time you sharpened your axe?”</p>
  <br>
  <p>“sharpen? i’ve had no time to sharpen my axe. i have been so busy trying to cut trees….”</p>
  <p>then jack said before coming to work he daily spent's two hours on sharpening his axe.</p>
  <br>
  <hr size="3" noshade>
  <br>
  <br>
  <p>abraham lincoln said, “give me six hours to chop down a tree and i will spend the first four sharpening the axe.”
  </p>
  <br>
  <p>put time on your calendar to sharpen your axe(mind). </p>
  <p>our mind that is our mental, spiritual and emotional health, sharpening of this mind is very important.</p>
  <br>
  <p>Sharpen your mind daily for few hour.
    Detach yourself from phone, world and all those things which gives negativity.</p>
  <br>
  <p>And this won't happen in one day..</p>
  <p>You need to do it daily until it becomes habit that is you will start doing these things unconsciously and
    effortlessly.</p>
  <br>
  <p>How can you sharpen your brain?</p>
  <ul>
    <li>Read good books</li>
    <li>Do exercise</li>
    <li>Do yoga</li>
    <li>Meditation</li>
    <li>Spend time with family and friends</li>
    <li>Detach yourself from fruits of work and focus on journey.</li>
  </ul>
  <br>
  <hr size="3" noshade>
  <br>
    <image src="{{url_for('static',filename = 'abhi.jpg')}}" width="80" height="80">
  <p>By Abhishek Savakar</p>
  <a href="/index" style="color: #E38B29">For more blogs click here</a>
  <br>
  <br>

</body>

</html>