<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>How to prepare for Cloud Practitioner Exam?</title>
</head>

<body text="#E3C770" bgcolor="#0F3460">
<h1>How to prepare for Cloud Practitioner Exam?</h1>
<br>
<h2>Material Which I followed for exam:</h2>
<h3>1. Courses</h3>
<p>I took course by Stephane Maarek on Udemy for cloud practioner exam. </p>
<p>This course covers almost 99% syllabus. </p>
<p>For 1% you can refer Whitepaper.</p>
<p>Its rare that you might find question which is not covered by Stephane's Course,</p>
<p>Anyway its always better to refer whitepaper.</p>
<p>This course is about 14hours. </p>
<a href="https://www.udemy.com/course/aws-certified-cloud-practitioner-new/" style="color: #E38B29">Click here for
    Course by Stephane
    Maarek</a>
<br>
<br>
<br>
<h3>2. Whitepapers</h3>
<p>Its good to read whitepaper, it covers all services which will be asked in exam. </p>
<p>Just read definations and what they are used for.</p>
<a href="https://d1.awsstatic.com/whitepapers/aws-overview.pdf" style="color: #E38B29">Click here for Whitepaper</a>

<br>
<br>
<br>
<h3>3. Practice tests</h3>
<p>Its extreamly important to give practice tests, </p>
<p>Since it gives you a taste of what kind of questions you might expect in exam.</p>
<p>Give practice tests as many possible. Try to get 80%+, 90%+ would be great. </p>
<p>If you dont get 80+ please go through course again.</p>
<p>Practice tests helps you to differentiate between the services and how you why some services are used. </p>
<h4>So after giving practice test spend time on reading question and answers. This is very important.</h4>
<br>
<p>Practice Test Links:</p>
<ul>
    <li><a href="https://www.udemy.com/course/practice-exams-aws-certified-cloud-practitioner/" style="color: #E38B29">Click
        here for practice tests
        by Stephane Maarek</a></li>
    <li><a href="https://www.udemy.com/course/aws-certified-cloud-practitioner-practice-exams-c/"
           style="color: #E38B29">Click here for practice tests
        by Neal Davis</a></li>
</ul>
<br>
<br>
<br>
<h2>So, How did I prepared for exam?</h2>
<p>Firstly, I took like 15 days to complete the course by Stephane on Udemy. </p>
<p>I also Created AWS Account to do Hands on.</p>
<p>Then I registeered for exam, I gave practice test and my score was around 50%, </p>
<p>So prior 7 days to the exam I completed the course again in detail which took me 4 days along with Whitepaper.</p>
<p>Then next 3 days I gave practice tests and everytime I scored 80%+.</p>
<p>I also refered PPT from Stephane Maarek course in these 3 Days. And Now I was confident to write the exam.</p>
<br>
<h2>How you should prepare for exam? If you ask me. Then I would say give 21 days for preparation:</h2>
<p>In first 10 days complete course in detail with hands on. </p>
<p>In these 10 days you should completely underestand the course.</p>
<p>Then for next 2 Days Read Whitepaper. </p>
<p>Then give practice tests and check how much you have understood.</p>
<p>In next 5 days you should do course one more time in datail.</p>
<p>
    In Next 4 days give all practice tests and read answers after giving. </p>
<p>In these 4 days, daily go through the PPT of Stephane Maarek course completely.</p>
<h4>Try to remeber Keywords, Bold words and sentences from PPT.</h4>
<br>
<h1>Note:</h1>
<ul>
    <li>For Non-IT folks dont worry about how you will manage, I am from Mechanical Engineering background.</li>
    <li>While I was preparing for exam I dint have any work other than preparing course.</li>
    <li>So if you have any project work you can add another 10 days for preparing, just to be on safer side.</li>
    <li>Those who have done any AWS courses before can take this exam in one or two weeks time</li>
</ul>
<br>

<h3>All the best Guys</h3>
<br>
<hr size="3" noshade>
<br>

    <image src="{{url_for('static',filename = 'abhi.jpg')}}" width="80" height="80">
<p>By Abhishek Savakar</p>
<a href="/index" style="color: #E38B29">For more blogs click here</a>
<br>
<br>
</body>

</html>


