<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>My Blogs</title>
</head>

<body text="#E3C770" bgcolor="#0F3460">
<h1>Hello Guys welcome to my blogs page</h1>
<br>
<p>I am learning AWS so thought of using AWS S3 to create and hosts blogs.</p>
<p>Below are few blogs which I wrote recently, Visit here for more such.</p>
<br>
<ul>
    <li><a href="/blog" style="color: #E38B29">How to prepare for Cloud Practitioner Exam?</a>
    <li
    <li><a href="/axe" style="color: #E38B29">Sharpen Your Axe!</a></li>

    <br>
    <br>
    <br>
    <hr size="3" noshade>
    <br>
    <image src="{{url_for('static',filename = 'abhi.jpg')}}" width="80" height="80">
        <p>Abhishek Savakar</p>
        <br>
        <br>

</body>

</html>